.login_box {
  display: grid;
  grid-auto-columns: 1fr 0.1fr 1fr;
  column-gap: 0;
}

.login_student {
  grid-column: 1/1;
}

.vr {
  grid-column: 2/2;
  width: 3px;
  height: 85%;
  margin: auto 1em;
  background-color: black;
  justify-self: center;
}

.login_company {
  grid-column: 3/3;
  justify-content:right;
}

.login_student label,
.login_student input {
  float: right;
  clear: both;
  direction: rtl;
}

.login_student button {
  float: right;
  margin-top: 1.5em;
}
