._page {
    display: grid;
    grid-template-areas: 
    'head about'
    'skills'
    'quals'
    'companies';
}

._prof_section {
    display: grid;
    background-color: #F1F1F1B2;
    box-shadow: 0px 0px 5px 0.5px #88888844;
    margin-bottom: 1em;
    border: 1px solid #88888844;
    border-radius: 2px;
    padding: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
}

._prof_section hr {
    width: 100%;
    height: 3px;
    color:black;
}

._projects_section {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
    display:inline;
}

._projects_section ._bubble {
    padding-right: 5px;
    padding-left: 10px;
    margin-right: 10px;
    padding-bottom: 0px;
    padding-top: 2px;
    border-width: 2px;
    text-align: center;
}

._projects_section ._edit_pencil {
    display: inline;
    margin-left: 10px;
    font-size: 200%;
}

._prof_section h1 {
    font-size: xx-large;
}

._prof_section h2 {
    font-size: x-large;
}

._head {
    display: grid;
    grid-area: head;
    grid-template-areas: 
    'pp h1 h1'
    'pp hr hr'
    'pp h2 uni';
    grid-template-rows: auto 10px auto;
    grid-gap: 0;
}

._head .pp {
    grid-area: pp;
    border-radius: 50%;
    justify-self: right;
    padding-right: 0;
    margin-right: 0;
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    height: auto;
    border: 15px solid grey;
    box-shadow: 0px 0px 5px 5px #88888844;
    object-fit: cover;
}

._head h1 {
    grid-area: h1;
    align-self: flex-end;
}

._head ._uni {
    padding-top: 0;
    margin-top: 2em;
    grid-area: uni;
    position: relative;
    top: 0;
}

._head hr {
    grid-area: hr;
    width: 85%;
    /* margin-bottom: 10em;
    padding-bottom: 10em; */
}

._head ._head_desc {
    margin-top: 2em;
    padding-top: 0;
    grid-area: h2;
    text-align: start;
    top: 0;
}

._skills { 
    position: relative;
    grid-area: skills;
    grid-template-columns: 
    repeat(auto-fit, minmax(0, 1fr));
}

/* ._skills hr {
    grid-area: hr;
    width: 100%;
} */

._gr1 {
    grid-row: 2;
}

._gr2 {
    grid-row: 5;
    cursor: pointer;
}

._gr2 p {
    display: none;
}

._about { 
    display: grid;
    grid-area: about;
}

._companies { 
    grid-area: companies;
    text-align: left;
}

._quals { 
    grid-area: quals;
    text-align: left;
}

._quals ul {
    list-style-type: none;
    padding-left: 0;
}

._gradz_project {
    font-style: italic;
    font-size: 70%;
    margin-left: 4px;
}


._bubble {
    transition: all 0.05s ease-in-out;
    border-width: 4px;
    border-radius: 4px;
    border: 4px solid grey;
    margin-right: 1em;
    padding-left: 20px;
    padding-bottom: 1%;
    display: table-cell;
    font-size: 130%;
    height: 42px;
}

._bubble img {
    float: right;
    height: 25px;
    margin-right: 10px;
    margin-top: 4px;
    /* box-shadow: inset 0 0 0 1000px #7e000044; */
}

._gr2:hover {
    margin-bottom: -140px;
    margin-top: -60px;
    margin-left: -2.5%;
    margin-right: -2.5%;
    transition: all 0.05s ease-in-out;
    height: 200px;
    width: 105%;
    background-color: #F1F1F1;
    z-index: 100;
}

._gr2:hover p {
    display: block;
    background-color: white;
    margin-top: 0.5em;
    margin-right: 0.5em;
    margin-left: -12px;
    padding: 5px;
    height: 80%;
    border-top: 1px solid rgb(55, 55, 55);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    /* -webkit-box-shadow: 0px -4px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px -4px 5px rgba(50, 50, 50, 0.75);
    box-shadow: 0px -4px 5px rgba(50, 50, 50, 0.75); */
    font-size: small;
}

/* ._img_grid {
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(auto, 1px)) 1fr;
}

._img_grid_itm {
    display: grid;
    grid-row: 1;
} */

._img_grid_itm img {
    float: left;
    height: 10px;
    size: 10%
}

._project_box_click {
    position: fixed;
    display: block;
    top: 10%;
    left: 2.5%;
    width: 95%;
    height: 80%;
    background-color: white;
    border-radius: 2px;
    /* box-shadow: 0px 0px 5px 5px #88888844, 0 0 0 1000px #000000a4; */
    justify-self:center;
    padding: 0.7em;
    z-index:1001;
}

._project_box_content {
    width: 100%;
    height: 90%;
    overflow-y: auto;
    overflow-x: none;
}

._bg {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 0%;
    height: 0%;
    box-shadow: 0px 0px 5px 5px #88888844, 0 0 0 1000px #000000a4;
    z-index:1000;
}


/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
color: red;
cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.5s;
    animation: animatezoom 0.5s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }


._project_box_unclick {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
}

._edit_pencil {
    display: inline-block;
    cursor: pointer;
    width: 1em;
  }
  
  ._edit_pencil:hover {
    color: rgb(28, 28, 28);
  }
  
  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close_modal {
    color: white;
    position: absolute;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close_modal:hover,
  .close_modal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #316CB0;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}

  .modal-body input[type="file"] {
  }
/* fileinput */
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #316CB0;
    color: white;
  }

  .dropbtn {
    background-color: #316CB0;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}