body {
  font-family: Helvetica;
}

._top {
  display: grid;
  transition: 0.4s;
  grid-template-areas:
    'logo'
    'bar';
  grid-gap: 10px;
  align-items: center;
  width: 100%;
}

/* ._top > div {
  text-align: center
} */

._top ._nav {
  transition: 0.4s;
  overflow: hidden;
  margin-top: 0px;
  grid-area: bar;
  display: flex;            /* new */
  align-items: center;      /* new */
  justify-content: center;  /* new */
  width: 100%;
}

._top ._nav ul {
  transition: 0.4s;
  border-radius: 0px;    
  list-style-type: none;
  margin-left: 1.5em;
  margin-right: 1.5em;
  background-color: #316CB0;
  text-align: center;
  font-size: 200%;
  border: 7px solid #316CB0;
  width: 100%
}

._top ._nav li {
  width: auto;
  border-right: 1px solid #FFF;
  margin: 0px;
  display: inline-block;
}

._top ._nav li:last-child {
  border-right: none;
  width:fit-content;
}

._top ._nav li:nth-child(6) {
  border-right: none;
  width:fit-content;
}

._top ._nav li:first-child {
  width:fit-content;
}

._top ._nav li a {
  display: flex;
  justify-content: center;
  margin-left: 0px;
  width: auto;
  height: auto;
  background-color: #316CB0;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

._top ._nav li a:hover:not(.active) {
  background-color: #8fb5e0;
  color: white;
}

._top ._nav li a.active {
  background-color: #8fb5e0;
  color: white;
}

._top ._nav .icon {
  display: none;
}

._top_scroll {
  transition: 0.4s;
  background-color: #316CB0F8;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-left: 1em;
  margin-right: 1em;
  position: sticky;
  top: 0;
  display: grid;
  grid-template-areas:
    'logo bar'
    'blank bar';
  justify-items: center;
  align-items: center;
  /* border-bottom: solid white 100px; */
  /* height: 250px; */
}

._top_scroll ._heading {
  transition: 0.0s;
  grid-area: logo;
  box-shadow: none;
  margin: auto;
}

._top_scroll ._heading p {
  color: white;
  font-size: 100%;
}

._top_scroll ._heading h1 {
  font-size: 350%;
  background-color: white;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 7px;
  width: 165px;
}

._top_scroll ._nav {
  transition: 0.4s;
  overflow: hidden;
  margin-top: 0px;
  grid-area: bar;
  display: flex;            /* new */
  align-items: center;      /* new */
  justify-content: center;  /* new */
  
}

._top_scroll ._nav ul {
  /* border-radius: 0px;     */
  list-style-type: none;
  background-color: #ffffff00;
  text-align: right;
  font-size: 110%;
  border: 7px solid #ffffff00;
}

._top_scroll ._nav li {
  transition: 0.4s;
  width: auto;
  border-right: 1px solid #FFF;
  background-color: #316CB000;
  margin: 0px;
  display: inline-block;
}

._top_scroll ._nav li:last-child {
  border-right: none;
  width:fit-content;
}

._top_scroll ._nav li:nth-child(6) {
  border-right: none;
  width:fit-content;
}

._top_scroll ._nav li:first-child {
  width:fit-content;
}

._top_scroll ._nav li a {
  transition: 0.4s;
  transition: 0.6s background-color;
  display: flex;
  justify-content: center;
  margin-left: 0px;
  width: auto;
  height: auto;
  background-color: #316CB000;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

._top_scroll ._nav li a:hover:not(.active) {
  background-color: #8fb5e0F8;
  color: white;
}

._top_scroll ._nav li a.active {
  background-color: #8fb5e0F8;
  color: white;
}

._top_scroll ._nav .icon {
  display: none;
}

.sel_page{
  background-color: #8fb5e0
}


/* /* ._heading {
  /* position: sticky; */
  /* top: 0; */
  /* background-color:#fafafa; */
  /* width: 100%; */
  /* border-bottom: 1px solid lightgrey; 
} */

a.button_intouch {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;

  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  margin: 4px 2px;
  border-width: 1px;
  transition-duration: 0.3s;

  background-color: white;
  color: #316CB0;
  border-color: #316CB0;
  width: 125px;
}

a.button_intouch:hover {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;

  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  margin: 4px 2px;
  border-width: 1px;
  transition-duration: 0.3s;

  color: white;
  background-color: #316CB0;
}

a.button_company {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;

  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  margin: 4px 2px;
  border-width: 1px;
  transition-duration: 0.3s;

  background-color: white;
  color: #ff9090;
  border-color: #ff9090;
  width: 160px;
}

a.button_company:hover {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;

  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  margin: 4px 2px;
  border-width: 1px;
  transition-duration: 0.3s;

  color: white;
  background-color: #ff9090;
}

.button {
  padding: 8px 16px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.3s;
  cursor: pointer;
  border-width: 1px;
}

._heading {
  grid-area: logo;
  box-shadow: inset 0 0 0 1000px #F1F1F1B2;
  margin-right: 3em;
  margin-left: 3em;
  margin-bottom: 1em;
  margin-top: 1em;
}

._heading h1{
  margin-top: 20px;
  margin-left: 1em;
  font-family: 'Roboto', sans-serif;
  font-size: 400%;
  color: #008AFC;
  margin-bottom: 0px;
  margin-top: 0px;
  }   

._heading p{
  /* margin-top: 10px; */
  margin-left: 4em;
  margin-top: 0px;
  font-size: 110%;
  color: grey;
}

._row {
  margin-top: 1em;
  display: flex;
  box-shadow: inset 0 0 0 1000px #F1F1F1B2
}

._left {
  flex: 65%;
  margin-left: 10em;
  margin-right: 10em;
}

._right {
  flex: 35%;
  margin-left: 1em;
  margin-right: 10em;
  background-image: url("img/homepage.png") ;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: inset 0 0 0 1000px #F1F1F1AA
}

._col {
  flex: 50%;
  margin-left: 10em;
  margin-right: 10em;
}

._strip{
  background-color: #F7F7F7;
}

._smallbox {
  width: 175px;
  font-size: large;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 10px;
  margin-left: 1em;
}

.item1 {
  grid-row: 1 / 3;
  width: 40%;
}

._sep_bar {
  color:#8015E8;
  height:2px;
}

._content {
  margin-right: 3em;
  margin-left: 3em;
}

/* .grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
} */

#_table1 {
  width: 100%;
  background-image: url("img/tablebg2.jpg");   
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0% 40%;
  padding-bottom: 20px;
}

#_table1 th {
  font-size: 70px;
  text-align: left;
  font-family: Helvetica, sans-serif;
  padding-left: 20px;
  /* margin-left: 3em; */
  width: 50%;
}

#_table1 td {
  font-family: 'Bree Serif', serif;
  font-size: 16px;
  /* padding-left: 1.5em; */
  color: white;
  padding-bottom: 20px;
}

#_table1 td, th {
  border-right: 20px solid white;

}

#_table1 td:last-child, th:last-child {
  border-right: none;
  /* margin-right: 100em; */

}

._boxgrid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas: 
    'sk1 sk2 sk3 sk4';
  grid-gap: 10px;
  /* padding: 10px; */
  text-align: center;
}

._boxitem {
  color: white;
  font-size: 20px;
  margin-bottom: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 125px;
}

._boxarrow {
  transition: all 0.07s ease-in;
  color: white;
  margin-top: 0;
  position: relative;
  bottom: 20px;
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

._boxtitle {
  margin-top: 10px;
  color: white;
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sk1 {grid-area: sk1; flex: 25%; height: 255px; background-image: url("img/engineering.jpg");  box-shadow: inset 0 0 0 1000px #F2BF5EB2;  margin: 5px; margin-left: 0px;  transition: all 0.1s ease-in;}
.sk2 {grid-area: sk2; flex: 25%; height: 255px; background-image: url("img/business.jpg");     box-shadow: inset 0 0 0 1000px #FF6161B2;  margin: 5px;                    transition: all 0.1s ease-in;}
.sk3 {grid-area: sk3; flex: 25%; height: 255px; background-image: url("img/economics.jpg");    box-shadow: inset 0 0 0 1000px #536EB7B2;  margin: 5px;                    transition: all 0.1s ease-in;}
.sk4 {grid-area: sk4; flex: 25%; height: 255px; background-image: url("img/natsci.jpg");       box-shadow: inset 0 0 0 1000px #75CBA8B2;  margin: 5px; margin-right: 0px; transition: all 0.1s ease-in;}

.sk_hover {
  transition: all 0.05s ease-in;
  color:#ffffff00;
  position: relative;
  bottom: 0px;
  height: 100px;
}

.sk1:hover, .sk2:hover, .sk3:hover, .sk4:hover {
  transition: all 0.05s ease-in;
  margin: 0px;
  height: 265px;
} 

.sk1:hover .sk_hover, .sk2:hover .sk_hover, .sk3:hover .sk_hover, .sk4:hover .sk_hover{
  transition: all 0.2s ease-in;
  position: relative;
  bottom: 90px;
  height: 100px;
  /* width: 95%; */
  margin-left: 0%;
  margin-bottom: 0%;
  color: grey;
  background-color: #ffffffCC;
  border-top: 1px solid grey;
}

.sk1:hover ._boxarrow, .sk2:hover ._boxarrow, .sk3:hover ._boxarrow, .sk4:hover ._boxarrow {
  transition: all 0.07s ease-in;
  position: relative;
  bottom: 80px;
}

._projects_grid {
  display: grid;
  grid-template-areas: 
  'ideas actual'
  'forum actual';
  grid-auto-columns: 1fr;
  grid-gap: 1em;
}

._projects_grid * h1 {
  font-size: 200%;
}

._projects_ideas {
  display: grid;
  grid-area: ideas;
  box-shadow: 0px 0px 5px 0.5px #88888844;
  padding: 1em;
}

._projects_forum {
  display: grid;
  grid-area: forum;
  box-shadow: 0px 0px 5px 0.5px #88888844;
  padding: 1em;
}

._projects_actual {
  display: grid;
  grid-area: actual;
  box-shadow: 0px 0px 5px 0.5px #88888844;
  padding: 1em;
}

.item_title { grid-area: title; font-size: x-large}
.item_sub { grid-area: sub; }
.item_descrip { grid-area: descrip; width: 200px; font-size: large;}
.item_login { grid-area: login; }

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1100px) {
    ._top_scroll ._nav li:not(:first-child) {
        display: none;
    }

    ._top_scroll ._nav li {
        border-right: none;
    }

    ._top_scroll ._nav li:last-child {
        float: right;
        display: block;
    }

    ._top_scroll ._nav a.icon {
      float: right;
      display: block;
    }

    ._top ._nav li:not(:first-child) {
      display: none;
  }

  ._top ._nav li {
      border-right: none;
  }

  ._top ._nav li:last-child {
      float: right;
      display: block;
  }

  ._top ._nav a.icon {
    float: right;
    display: block;
  }
  }


/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1100px) {
  ._top_scroll ._nav.responsive {position: relative;}
  ._top_scroll ._nav.responsive a.icon {
    position: absolute;
    top:0;
    right:0;
    margin-top: 39px;
    margin-right: 39px;
  }
  ._top_scroll ._nav.responsive li {
    float: none;
    display: block;
    text-align: left;
  }

  ._top_scroll ._nav.responsive li a{
    float: none;
    display: block;
    text-align: left;
  }

  ._top ._nav.responsive {position: relative;}
  ._top ._nav.responsive a.icon {
    position: absolute;
    top:0;
    right:0;
    margin-top: 39px;
    margin-right: 39px;
  }
  ._top ._nav.responsive li {
    float: none;
    display: block;
    text-align: left;
    width: auto;
    border-right: 1px solid #FFF;
    margin: 0px;
  }

  ._top ._nav.responsive li a{
    display: flex;
    justify-content: center;
    margin-left: 0px;
    width: auto;
    height: auto;
    background-color: #316CB0;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
  }
}

/* ._top ._nav li {
  width: auto;
  border-right: 1px solid #FFF;
  margin: 0px;
  display: inline-block;
}

._top ._nav li:last-child {
  border-right: none;
  width:fit-content;
}

._top ._nav li:nth-child(6) {
  border-right: none;
  width:fit-content;
}

._top ._nav li:first-child {
  width:fit-content;
}

._top ._nav li a {
  display: flex;
  justify-content: center;
  margin-left: 0px;
  width: auto;
  height: auto;
  background-color: #316CB0;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
} */